---
layout: home
title: list
---


  {% include intro.html %}

  <div class="section">

	  <div class="container">

		{% for year in site.data.researchData %}

		<div class="row" id="year{{year.year}}">
			<div class="col-sm-12">

				<div class="well ng-binding">{{year.year}}년도
					<span class="glyphicon glyphicon-list" aria-hidden="true"></span>
				</div>

			{% for work in year.works %}

			<blockquote  class="ng-scope">
				<p>{{work.title}}
					<a href="{{work.ref}}" target="_blank">
						<span class="glyphicon glyphicon-link" aria-hidden="true"></span>
					</a>
					<a href="#year{{year.year}}">
						<span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
					</a>
				</p>
				<p>
					{{work.titleEn}}
				</p>
				<footer>{{work.author}}
					<cite title="Source Title">{{work.cite}}</cite></footer>

				{% if work.summary %}
				<br>
				<div>
					  <p class="text-success">
						  {{work.summary}}
					  </p>
				</div>
				{% endif %}

			</blockquote>

			{% endfor %}

		</div>
	</div>

		{% endfor %}

	</div>
</div>
