{% case page.category %}

{% when "논문" %}

{{ page.author }}. 「{{ page.title }}」. 『{{ page.published.by }}』{% if page.published.vol %}, {{
page.published.vol }}{% endif %}{% if page.published.page %}:{{ page.published.page }}{% endif %}, {{ page.year }}. {%
if page.ref %}{{ page.ref }}{% endif %}

{% when "저서역서" %}

{{ page.author }}. 『{{ page.title }}』. {{ page.published.by }}, {{ page.year }}. {% if page.ref %}{{ page.ref }}{%
endif %}

{% when "발표" %}

{{ page.author }}. 「{{ page.title }}」. {{ page.published.by }}, {{ page.year }}. {% if page.ref %}{{ page.ref
}}{% endif %}

{% else %}


{% endcase %}