{% assign work = page %}

<h1>{{work.title}}</h1>

<div class="col-sm-12">

    <blockquote class="work" id="{{ work.year }}-{{ work.noo }}">

        <p class="title">

            <span>{{ work.title }}</span>
            <span>
                {% if work.localfile %}
                <a href="{{ site.baseurl }}{{ site.custom.localfilepath }}/{{ work.year }}-{{ work.noo }}.{{ work.localfile }}"
                    target="_blank" download="({{work.author}}){{ work.title }}.{{ work.localfile }}">
                    <span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span>
                </a>
                {% endif %}

                {% if work.ref %}
                <a href="{{ work.ref }}" target="_blank">
                    <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
                </a>
                {% endif %}

                <a href="{{ site.baseurl }}/list.html#{{ work.year }}-{{ work.noo }}">
                    <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                </a>
            </span>
        </p>

        {% if work.titleEn %}
        <p class="titleEn">
            {{ work.titleEn }}
        </p>
        {% endif %}

        <footer class="author">{{ work.author }}.
            <cite title="Source Title">{{ work.published.by }}. {{ work.year }}
                {% if work.published.vol %}
                ;{{ work.published.vol }}
                {% endif %}
                {% if work.published.page %}
                :{{ work.published.page }}
                {% endif %}
            </cite>
        </footer>

        {% if work.summary %}
        <div>
            <p class="text-success summary">
                {{work.summary}}
            </p>
        </div>
        {% endif %}

        {% if work.memo %}
        <ul class="text-info memo">
            {% for memo in work.memo %}
            <li>{{ memo }}</li>
            {% endfor %}
        </ul>
        {% endif %}

    </blockquote>

</div>